<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<style>
.container{
    background-color:green;
    margin:30px;
}
.main-head{
    text-align:center;
}
.values{
    text-align:center;
    margin-top:30px;
}
.submit_button{
    margin-top:30px;
    border-radius:10px;
    height:30px;
    border-width:0px;

}
</style>
    
<body>
    <h1>Generate Your Password</h1>
    <hr>
    <form method="post" action="{% url 'password' %}">
        {% csrf_token %}
        <label for="letters">How many letters do you want</label>
        <input type="number" id="letters" name="letters"><br/>

        <label for="numbers">How many numbers do you want</label>
        <input type="number" id="numbers" name="numbers"><br/>

        <label for="symbols">How many symbols do you want</label>
        <input type="number" id="symbols" name="symbols"><br/>

        <button type="submit">Generate Password</button>
    </form>
</body>
</html>
